body{
    font-family: 'Montserrat';
}

.container-fluid{
    padding: 3% 15% 13%;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 100px
}

.download-button{
    margin-right: 10px;
    padding-right: 12px;
    padding-left: 12px;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

#features{
    padding: 6% 13%;
    background: white;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.feature-id{
    padding: 5%;
}

h3{
    font-size: 1.4rem;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

p{
    font-family: "Montserrat-Bold";
    color: #8f8f8f;
    font-weight: 600;
}

.new_dog{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    
    line-height: 1.5;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.row{
    margin-top: 40px;
}

#title{
    background-color: #ff4c68;
    color: #fff;
    position: relative;
    /* padding-bottom: 140px; */
}

.title-image{
    width: 60%;
    margin-left: 110px;
    transform:rotate(15deg);
    position: absolute;
}

#testimonials{
    padding: 6% 13%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 17%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color:#ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
    width: 12%;
    margin: 20px 50px 40px;
}

.carousel-item{
    padding: 6% 13%;
}

#testimonials{
    padding-left: 120px;
    padding-right: 120px;
}

#pricing{
    padding: 100px;
    text-align: center;
}

#pricing-coloumn{
    padding: 2% 3%;
}